*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-image: url('./img/imgFondo.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-top: 100px;
  background-color: black;
}

.controlador{
  display: flex;
  gap: 40px;
}