.borrar{
    background-color: rgb(153, 7, 7);
    color: azure;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.botonAgregar, .botonRapida{
    padding: 20px 30px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}